nbconvert<6
jupyter
jupyterlab
readline
pycurl
python-editor
python-json-logger
requests
SQLAlechemy
jupyter_contrib_nbextensions
python-language-server[all]
jupyter-lsp
matplotlib
pytest
hypothesis
numpy
scipy
pandas
sympy
iot-kernel
